{% extends "base.html" %}

{% block title %}
    {% if recipe %}
        Edit {{ recipe.title }} | Salt & Story
    {% else %}
        Add Recipe | Salt & Story
    {% endif %}
{% endblock %}

{% block content %}
    {% if recipe %}
        <h1>Edit Recipe</h1>
    {% else %}
        <h1>Add Recipe</h1>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">
            {% if recipe %}
                Save Changes
            {% else %}
                Save Recipe
            {% endif %}
        </button>
    </form>
{% endblock %}